#main-footer {
  background: #08070e;
}

#main-footer .grid-control {
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
}

#main-footer .logo-container {
	justify-content: flex-start;
	align-items: center;
	gap: 0.5rem;
	font-family: var(--ff-heading);
	font-weight: var(--fw-bold);
}

#main-footer .logo-img {
  margin: auto;
}

.copyright {
  font-size: var(--fs-small);
}

.copyright a {
	color: var(--clr-text-light);
	text-decoration: underline;
}

@media screen and (max-width: 800px) {
	#main-footer .grid-control {
		grid-template-rows: repeat(2, 1fr);
		place-items: center;
	}

}