.scroll-top {
  position: fixed;
  opacity: 0;
  transition: all ease 0.5s;
  z-index: 2;
}

.scroll-top-hidden {
  bottom: -100%;
  right: -100%;
}

.scroll-top-visible {
  opacity: 1;
  bottom: 0;
  right: 0;
}

.scroll-top .scroll-top-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem 1rem 2rem;
  border-radius: 100px 0px 0px;
  font-size: var(--fs-medium);
  color: var(--clr-white);
  background: var(--clr-light-purple);
  transition: background ease 0.2s;
}

.scroll-top .scroll-top-btn:hover {
  background: #9349f4;
}

@media screen and (max-width: 800px) {
  .scroll-top .scroll-top-btn {
    font-size: 5.5vw;
    padding: 2.2rem 1.5rem 1.5rem 2.2rem;
  }
}