/* Fonts - DM+Sans: 400, 500, 700; Poppins: 300, 400, 500, 700;*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@300;400;500;700&display=swap');

:root {
	--clr-dark-bg: #08070e;
	--clr-dark-purple: #150E1F;
	--clr-purple: #2B254D;
	--clr-light-purple: #7637ca;
	--clr-pink: #F755A5;
	--clr-dark-pink: #aa3c73;
	--clr-num: #ba64dc;
	--clr-lime: #8afa88;
	--clr-light-grey: #cecece;
	--clr-white: #FFFF;
	--clr-text-light: #D1D1D1;
	--clr-text-dark: #35373c;
	--clr-trasparent: #FFFF0000;

	--ff-heading: 'DM Sans', sans-serif;;
	--ff-body: 'Poppins', sans-serif;

	--fw-light: 300;
	--fw-regular: 400;
	--fw-bold: 700;

	--fs-small: 0.813rem;
	--fs-regular: 1rem;
	--fs-medium: 1.5rem;
	--fs-large: 3.5rem;
	--fs-xlarge: 5rem;

}

/* General CSS Reset */
*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	background: var(--clr-dark-bg);
	font-family: var(--ff-body);
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

img {
	width: 100%;
	height: 100%;
	display: block;
}

/* Font styles */
body {
	letter-spacing: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
	font-family: var(--ff-heading);
	font-weight: var(--fw-light);
  color: var(--clr-white);
}

h1 {
	font-size: var(--fs-xlarge);
	text-transform: uppercase;
	font-weight: var(--fw-bold);
}

h2 {
	font-size: var(--fs-large);
	padding-bottom: 1rem;
	font-weight: var(--fw-bold);
}

h3 {
	font-size: var(--fs-medium);
	font-weight: var(--fw-bold);
	padding-bottom: 0.5rem;
}

p {
	color: var(--clr-text-light);
	font-size: var(--fs-regular);
	line-height: 27px;
}

.lead {
	font-size: 1.15rem;
}

a {
	transition: color ease 0.2s;
}

.width-wrapper {
	width: 100%;
	max-width: 1100px;
	margin: auto;
	padding: 2rem 0;
}

.grid-control {
	display: grid;
	width: 100%;
}

.flex-control {
	display: flex;
	width: 100%;
}

.btn {
	text-transform: uppercase;
	border: none;
	padding: 0.7rem 2rem;
	cursor: pointer;
	letter-spacing: inherit;
	font-family: inherit;
}

/* Custom Scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--clr-dark-purple);
}

::-webkit-scrollbar-thumb {
  border-radius: 2rem;
	background: #75c272;
	transition: background ease 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--clr-lime);
}

@media screen and (max-width: 800px) {
	:root {
		--fs-regular: 0.965rem;
		--fs-medium: 1.20rem;
		--fs-large: 1.85rem;
		--fs-xlarge: 2rem;
	}

	.lead {
		font-size: 1.02rem;
	}

	.width-wrapper {
		max-width: 92.5%;
	}

  .flex-control {
		flex-direction: column;
	}
}

@media screen and (min-width: 801px) and (max-width: 1222px) {
	:root {
		--fs-xlarge: 4rem;
	}

	.width-wrapper {
		max-width: 90%;
	}
}

@media screen and (min-width: 1600px) {
	:root {
		--fs-xlarge: 4rem;
	}

	.width-wrapper {
		max-width: 70%;
	}
}